<!DOCTYPE html>
<html>
<head>
  <title>GITKit V2 Demo</title>
  <%= csrf_meta_tag %>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/jsapi"></script>
  <script type="text/javascript" src="//www.accountchooser.com/client.js"></script>
  <script type="text/javascript">
    google.load("identitytoolkit", "2", {packages: ["ac"], language:"en"});
  </script>
  <script type="text/javascript">
    $(function() {
    window.google.identitytoolkit.setConfig({
        developerKey: "AIzaSyAtcjk0CNgQ1LI2y2svk0GIPv82dFe2NjA",
        companyName: "Azri",
        callbackUrl: "http://gitkit.sowgandhi.com/verify",
        realm: "",
        userStatusUrl: "/status",
        loginUrl: "/login",
        signupUrl: "/new",
        homeUrl: "/",
        logoutUrl: "/logout",
        idps: ["Gmail", "Yahoo", "Hotmail", "AOL"],
        tryFederatedFirst: true,
        useContextParam: false,
        language: "en"
    });
    window.google.identitytoolkit.init();
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
